.singin-container {
    height: 100%;
    .signin-form-container  {
        padding: 30px;
        width: 350px;
        .MuiButton-contained {
            width: 100%;
        }
        .login-header {
            margin-bottom: 40px;
        }
        .login-logo {
            height: auto;
            width: 200px;
        }
        .login-button {
            margin-bottom: 30px;
        }
    }
}