$font-family-text: "SF Pro Text, Helvetica Neue, Helvetica, sans-serif";
$font-family-display: "SF Pro Display, SF Pro Text, Helvetica Neue, Helvetica, sans-serif";
$white: #ffffff;
$black: #000000;
$light-gray: #888888;
$danger-color: #FF0000;
$header-background: #161616;
$header-link-hover-color: #333333;
$text-color: #262626;
$sort-column-border-color: #747476;
$text-color-gray: #BBBBBB;
$icon-color:#BEBEBE;
$icon-font-family: "SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif";
$border-color: #E9E9EC;
$button-text-color: #B2B2B2;
$button-border-color: #F1F1F1;
$row-border-color: #E8E8ED;
$link-color: #06C;
$color-white-smoke: #F4F4F4;
$table-row-border: #DEE2E6