@import "constants";
@import "fonts";
@import "base";

:global #app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#page-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: $text-color;
}

.content-area {
  display: flex;
  flex: 1 0 1px;
  flex-direction: column;
  overflow: hidden;
  overflow-x: auto;
}
.bg-overlay--dark {
  display: block;
  opacity: .5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 44px;
  bottom: 0;
  z-index: 10;
}